{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block main %}
<section class="login">
    <div class="login__container">
        <img src="{{ asset('img/mimosa-christina-deravedisian.webp') }}" alt="Tige de mimosa aux couleurs d'automne">
        <div class="login__content">
            <h1 class="login__title">Connexion</h1>
            {% if app.user %}
            <p class="login__label">Vous êtes connecté(e) en tant que {{ app.user.firstName }} {{ app.user.lastName }}.</p>
            <a href="{{ logout_path() }}" class="login__link">Se déconnecter</a>
            {% else %}
            <form method="post" class="login__form">
                {% if error %}
                <p class="login__error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
                <label for="username" class="login__label">Adresse email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="login__input" autocomplete="email" required autofocus>
                <label for="password" class="login__label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="login__input" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="login__submit">Se connecter</button>
            </form>
            <a href="{{ path('app_register') }}" class="login__link">Pas encore de compte ? S’inscrire</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
