{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block main_class %}home{% endblock %}

{% block main %}
<section class="home__welcome">
    <div class="home__container home__container--center">
        <div class="home__content home__content--small">
            <h1 class="home__title home__title--large">Bienvenue</h1>
            <p class="home__text home__text--large">Découvrez notre univers de produits durables et éthiques pour une consommation responsable.</p>
            <p class="home__text home__text--large">Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt-à-porter.</p>
        </div>
        <img src="{{ asset('img/protest-cherie-birkner.webp') }}" alt="Pancartes de soutien à l'écologie entreposées contre un mur">
    </div>
</section>
<section id="products" class="home__products">
    <div class="home__container home__container--column">
        <h2 class="home__title home__title--small">Nos produits</h2>
        <div class="home__grid">
        {% for product in products %}
            {{ include('components/product.html.twig', { product: product }) }}
        {% else %}
            <p class="home__content home__text">Aucun produit disponible.</p>
        {% endfor %}
        </div>
    </div>
</section>
<section class="home__conviction">
    <div class="home__container">
        <div class="home__content">
            <h2 class="home__title">Notre conviction</h2>
            <p class="home__text">Chez Green Goodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique.</p>
        </div>
        <img src="{{ asset('img/mimosa-christina-deravedisian.webp') }}" alt="Tige de mimosa aux couleurs d'automne">
    </div>
</section>
<section class="home__values">
    <div class="home__container">
        <img src="{{ asset('img/garbage-zaemon.webp') }}" alt="Empilement de trois sacs poubelle verts remplis">
        <div class="home__content home__content--large">
            <h2 class="home__title">Nos valeurs</h2>
            <p class="home__text">
                Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.<br>
                Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.<br>
                Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.
            </p>
        </div>
    </div>
</section>
{% endblock %}
