{% extends 'base.html.twig' %}

{% set page_title = product is null ? 'Produit introuvable' : product.name %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block main %}
<section class="product">
    <div class="product__container">
    {% if product is null %}
        <img src="{{ asset('img/product/product-default.webp') }}" alt="">
        <div class="product__info">
            <h1 class="product__title">{{ page_title }}</h1>
        </div>
    {% else %}
        <figure class="product__figure">
            <img src="{{ product.picturePath }}" alt="" class="product__img">
        </figure>
        <div class="product__info">
            <h1 class="product__title">{{ page_title }}</h1>
            <span class="product__price">{{ product.price|number_format(2, ',') }}€</span>
            <h2 class="product__title product__title--small">Description</h2>
            {% set description = product.fullDescription|replace({'\r\n': '\n'}) %}
            {% for paragraph in description|split('\n\n') %}
            <p class="product__description">{{ paragraph|e }}</p>
            {% endfor %}
            <a href="#" class="product__link">Ajouter au panier</a>
        </div>
    {% endif %}
    </div>
</section>
{% endblock %}
