<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <title>{% block title %}{% endblock %} - Green Goodies</title>
        <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header__container">
                <a href="{{ path('app_home') }}" aria-label="Accueil">
                    <img src="{{ asset('img/green-goodies-logo.svg') }}" alt="Logo Green Goodies" class="header__img">
                </a>
                <nav>
                    <ul class="header__list">
                        <li><a href="{{ path('app_home') }}#products" class="header__link">Nos produits</a></li>
                        {% if app.user %}
                        <li><a href="{{ path('app_cart') }}" class="header__link">Mon panier</a></li>
                        <li><a href="{{ path('app_account') }}" class="header__link">Mon compte</a></li>
                        <li><a href="{{ logout_path() }}" class="header__link">Déconnexion</a></li>
                        {% else %}
                        <li><a href="{{ path('app_login') }}" class="header__link">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}" class="header__link">Inscription</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        <main class="{% block main_class %}{% endblock %}">
            {% for label, messages in app.flashes %}
            <div class="alert alert--{{ label }}">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            {% block main %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="footer__container">
                <p>© Green Goodies - {{ 'now'|date('Y') }}</p>
            </div>
        </footer>
    </body>
</html>
