{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
{% endblock %}

{% block main %}
<section class="account">
    <div class="account__container">
        <h1 class="account__title">Mon compte</h1>
        <section class="account__section account__section--large">
            <h2 class="account__title account__title--small">Mes commandes</h2>
            {% if orders is empty %}
            <p class="account__text">Aucune commande enregistrée.</p>
            {% else %}
            <table class="account__table">
                <caption class="sr-only">Liste des commandes enregistrées</caption>
                <thead>
                    <tr>
                        <th scope="col" class="account__column account__column--head">N°</th>
                        <th scope="col" class="account__column account__column--head">Date</th>
                        <th scope="col" class="account__column account__column--head">Prix</th>
                    </tr>
                </thead>
                <tbody class="account__tbody">
                    {% for order in orders %}
                    <tr class="account__row">
                        <th scope="row" class="account__column">{{ '%02d'|format(order.id) }}</th>
                        <td class="account__column">{{ order.date|date('d/m/Y') }}</td>
                        <td class="account__column">{{ order.total|number_format(2, ',', '') }}€</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </section>
        <section class="account__section">
            <h2 class="account__title account__title--small">Mon accès API</h2>
            {% if is_granted('ROLE_API') %}
            <form action="{{ path('app_account_api_disable') }}" method="post" class="account__form">
                <button type="submit" class="account__submit">Désactiver mon accès API</button>
            </form>
            {% else %}
            <form action="{{ path('app_account_api_enable') }}" method="post" class="account__form">
                <button type="submit" class="account__submit">Activer mon accès API</button>
            </form>
            {% endif %}
        </section>
        <section class="account__section">
            <h2 class="sr-only">Gestion de mon compte</h2>
            <form action="{{ path('app_account_delete') }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte ?');" class="account__form">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="account__submit">Supprimer mon compte</button>
            </form>
        </section>
    </div>
</section>
{% endblock %}
